<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Login</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
      <div layout-padding layout="row" layout-align="space-around center">
        <a class="social-button facebook" href="" ng-click="loginOauth('facebook')">
          <i class="fa fa-facebook"></i>
          <md-tooltip>Connect with Facebook</md-tooltip>
        </a>
        <a class="social-button google" href="" ng-click="loginOauth('google')">
          <i class="fa fa-google"></i>
          <md-tooltip>Connect with Google+</md-tooltip>
        </a>
        <a class="social-button twitter" href="" ng-click="loginOauth('twitter')">
          <i class="fa fa-twitter"></i>
          <md-tooltip>Connect with Twitter</md-tooltip>
        </a>
      </div>
  </md-dialog-content>
</md-dialog>
