<md-content ng-include="'components/navbar/navbar.html'" class="nav-bar"></md-content>

<md-content flex layout="column" class="main-content">
  <md-content layout="column" layout-align="center center" flex class="search-bar-wrapper">
    <form name="form" class="search-form">
      <md-content layout="row" layout-align="center center" layout-margin flex>


        <md-icon md-font-set="material-icons" class="md-primary md-36">
          place
        </md-icon>
        <md-input-container class="search-input-container" flex>
          <label>Where are you?</label>
          <input name="location" type="text" ng-model="user.location" flex>

          <div ng-messages="form.location.$error">
            <div ng-message="location">Nothing found for this location.</div>
          </div>
        </md-input-container>
        <md-button type="button" class="md-icon-button md-primary" ng-click="user.location=''">
          <md-icon md-icon-set="material-icons">close</md-icon>
        </md-button>
        <md-button type="submit" class="md-raised md-primary" ng-click="searchLocation()">Search</md-button>
      </md-content>
    </form>
  </md-content>
  <div ui-view></div>
</md-content>
