<div ng-include="'components/navbar/navbar.html'"></div>

<md-content layout="column" layout-align="center center" flex>
  <md-content layout="row" layout-align="center center" flex layout-margin class="search-bar">
    <md-icon md-font-set="material-icons" class="md-primary md-24" layout-margin>
      place
    </md-icon>

    <form layout-margin flex>
      <md-input-container>
        <label>Location?</label>
        <input name="place" ng-model="location" type="text">
      </md-input-container>
    </form>

    <span class="">
      <md-button type="submit" class="md-raised md-primary" ng-click="addThing()">Search</md-button>
    </span>
  </md-content>
</md-content>
